@{
    ViewData["Title"] = "Home Page";
}


<div class="row">
    <div class="col-xs-12">
        <table id="maze">

            <tbody></tbody>
        </table>

    </div>
    <div class="col-xs-3">
        <button id="btnSolution" class="btn btn-primary">Get Solution</button>
    </div>
</div>

