@{
    ViewData["Title"] = "Home Page";
}


<div class="row">

    <div class="col-xs-12 center-maze">
        <table id="maze">

            <tbody></tbody>
        </table>

    </div>

</div>
<div class="row">
    <div class="col-xs-12 center-maze">
        <button id="btnSolution" class="btn btn-primary">Get Solution</button>
    </div>

</div>

