@{
    ViewData["Title"] = "Home Page";
}


<div class="row">

    <div class="col-xs-12 center-maze">
        <table id="maze">

            <tbody></tbody>
        </table>

    </div>

</div>
<div class="row">
    <div class="col-xs-12 center-maze margin-top-10">
        <input id="width" type="text" class="form-control" placeholder="Maze Width"/>
        <input id="height" type="text" class="form-control" placeholder="Maze Height"/>
        <button id="btnSolution" class="btn btn-primary">Get Solution</button>
        <button id="btnGenerate" class="btn btn-primary">Generate Maze</button>
    </div>

</div>

